<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581737932101-igibkovc8aachv5hn4aimovk36thl1ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581737932101-igibkovc8aachv5hn4aimovk36thl1ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDutcUY8IcWPpQlOMpqaLyKTx4NnDlID7c</string>
	<key>GCM_SENDER_ID</key>
	<string>581737932101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TM.MusePick-master</string>
	<key>PROJECT_ID</key>
	<string>musepick-83152</string>
	<key>STORAGE_BUCKET</key>
	<string>musepick-83152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581737932101:ios:662ab6b571de7221</string>
	<key>DATABASE_URL</key>
	<string>https://musepick-83152.firebaseio.com</string>
</dict>
</plist>